body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #74E1FF;
    background-image: url("images/background-pattern.png");

    /* Для IE, Edge */
    -ms-overflow-style: none;

    /* Для Firefox */
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.footer-image {
    transform: translateX(-50%);
    display: block;
    margin: 0;
}

@media (min-width: 900px) {
    .footer-image {
        transform: translateX(-25%);
    }
}
