body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #74E1FF;
    background-image: url("images/background-pattern.png");

    /* Для IE, Edge */
    -ms-overflow-style: none;

    /* Для Firefox */
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.navigation-header {
    display: flex;
    justify-content: space-around;
    margin: 16px;

    background-color: #131E27;
    color: white;
    border-radius: 48px;
    font-size: 3.5vw;
}

a {
    color: white;
    font-style: normal;
    padding: 8px;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

a:hover {
    color: #48CAE4;
    transform: scale(1.05);
}

.footer-image {
    transform: translateX(-25%);
    width: 200vw;
    display: block;
    margin: 0;
}

@media (min-width: 900px) {
    .navigation-header {
        border-radius: 48px;
        font-size: 20px;
    }

    .footer-image {
        width: 130vw;
        transform: translateX(-10%);
    }
}
